/* reset css - start */

html {
  box-sizing: border-box;
  /* font-size: calc(0.6vw + 0.6vh + .2vmin); */
  font-size: 1vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  direction: rtl;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

textarea, input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: inherit;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
  padding: 0.5rem;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* reset css - end */

/* Brand assets - start */

.text-blue {
  color: #0070c0;
}

.link:hover {
  text-decoration: underline;
}

.text-not-suffecient {
  color: #ee8873;
}

.text-missing-data {
  color: rgba(226, 187, 31, 0.59);
}

.text-green {
  color: #449a64;
}

.section {
  padding: 1.5rem;
  margin: 0 auto;
}

.subtitle-italic {
  font-style: italic;
  color: #3e454d;
  font-weight: 600;
  font-family: Calibri;
  padding-bottom: 1.5rem;
}

/* Brand assets - end */

/* header - start */

header {
  z-index: 9999;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  height: 4.3rem;
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1.5rem;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

header .col {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50%;
}

header .col .logo {
  display: inline-block;
  padding-left: 1.2rem;
}

/* header - end */

/* main section - start */

#mainSection {
  background-image: url(../images/clouds-background.png);
  background-color: #b1b1b1;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 4.3rem);
  position: relative;
  padding: 0rem 1.5rem;
  margin-top: 4.3rem;
}

#mainSection .title {
  width: 58rem;
  padding: 2rem 0;
  font-weight: 600;
  margin: 0 auto;
}

#mainSection .cities-container {
  height: 26rem;
  width: 58rem;
  margin: 0 auto;
  background-color: #fefbf7;
  opacity: 0.6;
  border-radius: 0.9rem;
}

#mainSection .cities-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1.2rem;
}

#mainSection .cities-table .table-head {
  display: flex;
  flex-direction: row;
  color: #707070;
  margin: 0 auto;
  font-weight: 600;
}

#mainSection .cities-table .table-body {
  margin: 0 auto;
  height: 18.4rem;
}

#mainSection .cities-table .table-body .row {
  display: flex;
  flex-direction: row;
  width: 48rem;
}

#mainSection .cities-table .col {
  width: 8rem;
  border: 0.1rem solid grey;
  padding: 0.6rem 0.3rem;
}

#mainSection .cities-table .bottom-container {
  display: flex;
  flex-direction: row;
  width: 48rem;
  margin: 0 auto;
}

#mainSection .cities-table .bottom-container .bottom-title {
  width: 50%;
  color: #0070c0;
  font-weight: bold;
  font-family: Calibri;
  font-style: italic;
  font-size: 1.37rem;
}

#mainSection .cities-table .bottom-container .bottom-icons {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5.2rem;
}

#mainSection .cities-table .bottom-container .bottom-icons span {
  width: 6.3rem;
  display: inline-block;
  text-align: center;
}

/* main section - end */

/* SECTION 1 - start */

.section-one {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 3rem;
}

.section-one .right-side {
  color: #5a6175;
  font-weight: 600;
  width: 50%;
}

.section-one .right-side div {
  margin-bottom: 1.2rem;
}

.section-one .left-side {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.circle-container {
  text-align: center;
  color: #2f6294;
  width: 6rem;
  margin-right: 1.5rem;
}

.circle-container .circle {
  background-color: rgba(205, 212, 226, 0.31);
  border: 0.15rem solid #707070;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: table;
}

.circle-container .circle span {
  font-size: 2rem;
  /* align vertically */
  vertical-align: middle;
  display: table-cell;
}

.circle-container .circle-bottom-description {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  width: 5rem;
}

/* SECTION 1 - end */

/* SECTION 2 - start */

.section-two .section-container {
  position: relative;
  background-color: #f8f9f9;
  height: 10rem;
}

.section-two .section-container .parameters-container {
  display: flex;
  flex-direction: row;
  /* width: 58rem; */
  width: 80rem;
  margin: 0 auto;
}

.section-two .section-container .shlavim {
  position: absolute;
  top: -1.4rem;
  display: flex;
  flex-direction: row;
  color: #3e454d;
  font-size: 0.8rem;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.section-two .section-container .shlavim .shlav {
  width: 5rem;
  background-color: white;
  border: 0.1rem solid #449a64;
  text-align: center;
  cursor: pointer;
  padding: 0.2rem 0.7rem;
}

.section-two .section-container .shlavim .shlav.selected {
  background-color: #449a64;
  color: white;
}

.section-two .section-container .stages-grey-line {
  height: 0.3rem;
  width: 60rem;
  background-color: #999999;
  margin: 0 auto;
  margin-top: -1.1rem;
}

.section-two .section-container .parameters-container .parameter {
  width: 20rem;
  text-align: center;
}

.section-two .section-container .parameters-container .parameter .parameter-circle {
  background-color: #78849e;
  color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  display: table;
}

.section-two .section-container .parameters-container .parameter .parameter-name {
  font-family: Calibri;
  font-weight: bold;
  color: #5a6175;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.section-two .section-container .parameters-container .parameter .parameter-circle span {
  /* align vertically */
  vertical-align: middle;
  display: table-cell;
}

/* SECTION 2 - end */


/* SECTION 3 - start */

.table .table-head, .table .table-body .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3e454d;
}

.table .table-head {
  border: 0.1rem solid grey;
  font-weight: 600;
  align-items: flex-start;
}

.table .table-body {
  border: 0.1rem solid grey;
  border-top: 0rem;
  background-color: #f6f7f8;
}

.table .table-bottom {
  border: 0.1rem solid grey;
  border-top: 0rem;
}

.table .table-bottom {
  padding: 1.5rem;
}

.table .table-body input[type='text'] {
  background-color: #f6f7f8;
  width: 8rem;
}

.table .first-row .col {
  padding-bottom: 0rem !important;
}

.table .table-head .col, .table .table-body .col {
  padding: 1.5rem;
}

.table .table-bottom .final-summary {
  text-align: left;
  font-style: italic;
  font-weight: 600;
  font-family: Calibri;
}

.table .table-head .col:nth-child(1), .table .table-body .col:nth-child(1) {
  width: 40rem;
  position: relative;
}

.table .table-head .col:nth-child(2), .table .table-body .col:nth-child(2) {
  width: 18rem;
}

.table .table-head .col:nth-child(3), .table .table-body .col:nth-child(3) {
  width: 7rem;
  height: 5rem;
}

.table .table-head .col:nth-child(4), .table .table-body .col:nth-child(4) {
  width: 5rem;
}

.table .table-head .col:nth-child(5), .table .table-body .col:nth-child(5) {
  width: 10rem;
}

.table .table-head .col:nth-child(6), .table .table-body .col:nth-child(6) {
  text-align: center;
  width: 6rem;
  margin-left: 4rem;
}

.table .table-body .is-suffecient {
  text-align: center;
}

.table .table-body .is-suffecient img {
  max-width: 100%;
  max-height: 100%;
}

.kpi-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kpi-not-obligatory {
  position: absolute;
  color: #e23713;
  font-weight: bold;
  font-size: 0.7rem;
  margin-right: 1rem;
}

.kpi-container .kpi-symbol {
  width: 5rem;
  text-align: center;
  margin-left: 1.5rem;
  color: white;
  padding: 0.4rem 0rem;
  border-radius: 0.2rem;
}

.kpi-container .kpi-description {
  width: 30rem;
  font-family: Calibri;
  /* height: 2.15rem; */
}

.kpi-container .kpi-symbol.kpi-approved {
  background-color: #449a64;
}

.kpi-container .kpi-symbol.kpi-missing-data {
  background-color: #e3c341;
}

.kpi-container .kpi-symbol.kpi-not-approved {
  background-color: #ee8873;
}

.kpi-container .kpi-symbol.kpi-grey {
  background-color: #5a6175;
}

.kpi-container .kpi-symbol.kpi-light-grey {
  color: #3e454d;
  background-color: rgba(205, 212, 226, 0.31);
}

.data-reported{
  /* height: 2.15rem; */
}

.approved-for-budget {
  font-size: 0.8rem;
  font-weight: bold;
  color: #449a64;
}

.not-approved-for-budget {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ee8873;
}

/* SECTION 3 - end */

/* [section name] - start */

/* [section name] - end */